html,
body {
  margin: 0;
  padding: 0;
  background: #1e2227;
  color: #9fa6b3;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 10em;
}
